name: Pull Request

on:
  pull_request:
    branches:
      - main

jobs:
  release:
    if: github.event.pull_request.head.repo.full_name == github.repository
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: ".bun-version"

      - name: Install Dependencies
        run: bun install

      - name: Test
        run: bun test

      - name: Build
        run: bun run build
